<main class="main-content">
  <%- include('../../components/navbar.html',{page,ui,user}) %>
  <%- include('dash-section-one.html',{page,ui,user}) %>
  <%- include('dash-section-two.html',{page,ui,user}) %>
  <%- include('dash-section-three.html',{page,ui,user}) %>
</main>