<main class="main-content">
  <%- include("../../components/navbar.html",{page,ui,user}) %>
  <%- include("users-section-one.html",{page,ui,user}) %>
  <%- include("users-section-two.html",{page,ui,user}) %>
</main>