<div class="settings-section">
  <h3 class="settings-section-title">Strategy Results</h3>
  <div class="settings-row">
    <div class="settings-label">
      <!--span class="settings-label-title" id="strategyResultsTitle">Strategy Results</span-->
      <span class="settings-label-desc" id="strategyResultsStats">None to display</span>
    </div>
    <button class="card-btn" style="padding: 6px 12px;">Show Numbers</button>
  </div>
  <div class="table-wrapper" style="margin: 0;display:none">
    <table class="data-table" style="min-width: 100%;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Nums</th>
        </tr>
      </thead>
      <tbody id="strategyResults"></tbody>
    </table>
  </div>
</div>