<!DOCTYPE html>
<html>
  <%- include("temp-1-head.html") %>
  <body class="w3-content w3-border-left w3-border-right">
    <%- include("temp-1-header.html",{isAuthed:false}) %>
    <div class="w3-main w3-white" style="margin-left:260px">
      <div class="w3-hide-large" style="margin-top:80px"></div>
      <%- include("temp-1-login-form.html",{title:"OMG"}) %>
      <%- include("temp-1-footer.html",{title:"OMG"}) %>
    </div>
    <script type="module" src="/js/sys-ui/index.js" defer="async"></script>
  </body>
</html>
