<div class="w3-container">
  <!--img class="w3-image" src="/images/nature.jpg" alt="London" width="700" height="700"-->
  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink" onclick="CCTXDash.openLink(event, 'Flight');"><i class="fa fa-plane w3-margin-right"></i>Flight</button>
    <button class="w3-bar-item w3-button tablink" onclick="CCTXDash.openLink(event, 'Hotel');"><i class="fa fa-bed w3-margin-right"></i>Hotel</button>
    <button class="w3-bar-item w3-button tablink" onclick="CCTXDash.openLink(event, 'Car');"><i class="fa fa-car w3-margin-right"></i>Rental</button>
  </div>
  <!-- Tabs -->
  <div id="Flight" class="w3-container w3-white w3-padding-16 myLink">
    <h4>Travel the world with us</h4>
    <div class="w3-row-padding" style="margin:0 -16px;">
      <div class="w3-half">
        <label>From</label>
        <input class="w3-input w3-border" type="text" placeholder="Departing from">
      </div>
      <div class="w3-half">
        <label>To</label>
        <input class="w3-input w3-border" type="text" placeholder="Arriving at">
      </div>
    </div>
    <p><button class="w3-button w3-dark-grey">Search and find dates</button></p>
  </div>

  <div id="Hotel" class="w3-container w3-white w3-padding-16 myLink">
    <h3>Find the best hotels</h3>
    <p>Book a hotel with us and get the best fares and promotions.</p>
    <p>We know hotels - we know comfort.</p>
    <p><button class="w3-button w3-dark-grey">Search Hotels</button></p>
  </div>

  <div id="Car" class="w3-container w3-white w3-padding-16 myLink">
    <h3>Best car rental in the world!</h3>
    <p><span class="w3-tag w3-deep-orange">DISCOUNT!</span> Special offer if you book today: 25% off anywhere in the world with CarServiceRentalRUs</p>
    <input class="w3-input w3-border" type="text" placeholder="Pick-up point">
    <p><button class="w3-button w3-dark-grey">Search Availability</button></p>
  </div>
</div>