<head>
  <title>Colorcoded DEV</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/temp-1.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Monaco", Arial, Helvetica, sans-serif}
    .mySlides {display: none}
    .myLink {display: none}
  </style>
</head>